*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
    visibility: visible;
}

.logo{
    background-image: url("/images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
   
}

.border{
    border: 1.5px solid transparent;
}
.border :hover{
    border: 1.5px solid white;
}

/** box 2 **/
.address-first{
    color: #cccccc;
    font-size: 0.85rem;
    padding-left: 15px;

}
.add-icon{    
   display: flex;
   text-align: center;
}
.address-second{
    font-size: 1rem;
    margin-left: 3px;
}

/**box-3**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

}
.search-icon{
    width: 45px;
    display: flex;
    font-size: 1.2rems;
    justify-content: center;
    align-items: center;
    background-color:#FEBD69 ;
    color: #3A3835;
    background-size: contain;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav-search:hover{
    border:1px solid #FEBD69;
}

/**box-4**/
span {
    font-size: 0.85rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-signin:hover{
    position: relative;
    border:1.5px solid white;
    padding: 4px;
}
.nav-return:hover{
    position: relative;
    border:1.5px solid white;
    padding: 4px;
}

/**box-6**/
.nav-cart i{ 
    font-size: 30px;
}
.nav-cart {
    font-size: 14px;
}
.nav-cart:hover{
    position: relative;
    border:1.5px solid white;
    padding: 4px;
}

/**PANEL**/
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-opt p{
    display: inline;
    margin-left: 15px;
}
.panel-opt {
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

.hero-section {
    background-image: url("/images/hero_image.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: #000;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
    width: 80%;
}
.hero-msg a{
    color: #007185;
}

/**shop section**/
.shop-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    width: 23%;
    height: 400px;
    border: 2px solid rgb(248, 248, 248);
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img {
    height: 300px;
    background-size: contain;
    margin-top: 1rem;
    margin-bottom:  1rem;
}
.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color:  #007185;
}

/**footer**/
.footer {
    margin-top: 15px;
}
.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 300px;

}
ul{
    margin-top: 20px ;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
}
.logo{
    background-image: url("/images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100;
   
}
.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    padding-top: 25px;
    
}
.copyright {
    padding-top: 5px;
    
}